/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
a {
  cursor: pointer;
}
nav ul a {
  color: #212121;
}
img.logo-mini{
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0,0,0,0.5));
}
.nav-wrapper {
  overflow: hidden;
}
.brand-logo {
  height: 100% !important;
  position: relative !important;
}
.logo-mini {
  height: 100%;
}
.ns {
  display: none;
}
.social {
  margin-right: 2px;
  margin-top: 1em;
  height: 2em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}
.social:hover {
  box-shadow: 0 0 8px rgba(0, 175, 255, 0.8);
}
footer.page-footer {
  margin: 0;
}
@media only screen and (max-width: 992px) {
  .row, h2 {
    margin: auto !important;
    max-width: 400px;
  }
}
h2 {
  margin-top: 0.5em !important;
  margin-bottom: 0.25em !important;
}
